<html>
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <script src="https://unpkg.com/htmx.org@0.0.4"></script>
  <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.3/build/pure-min.css" integrity="sha384-cg6SkqEOCV1NbJoCu11+bm0NvBRc8IYLRGXkmNrqUBfTjmMYwNKPWBTIKyw9mHNJ" crossorigin="anonymous">
  <link rel="stylesheet" href="./fighter.css">
  <link href="https://unpkg.com/nes.css@2.3.0/css/nes.min.css" rel="stylesheet" />

</head>
<body class="nes-container is-dark">
  <div class="main">

    <h1> Welcome To Street Fighter </h1>
    <p> Select Your Character </p>

    <form>
      <select hx-get="/fighters"
              name="fighter"
              hx-target="#fighter-avatar"
              hx-swap="outerHTML">
      <option selected> -- select a fighter -- </option>
      <option value="ryu">Ryu</option>
      <option value="sagat">Sagat</option>
      <option value="chunli"> Chun-Li </option>
    </select>
  </form>


  <p> Select Your Special Move </p>

  <form id="techniques">
    <select>
      <option selected> -- select a fighter -- </option>
    </select>
  </form>


  <div class="nes-container is-dark grid-3-columns" >
    <img id="fighter-avatar" src="./no_fighter.png" alt="no-fighter">
    <div class="fighter-data">
      <ul class="nes-list is-disc">
        <li>Country: Japan</li>
        <li>Age: 30 years old </li>
        <li>Style: Karate </li>
      </ul>
    </div>
    <div id="fighter-special">

    </div>
  <div>

  </div>
</div>
</div>




</body>
</html>
