<html>
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <script src="https://unpkg.com/htmx.org@0.0.4"></script>
  <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.3/build/pure-min.css" integrity="sha384-cg6SkqEOCV1NbJoCu11+bm0NvBRc8IYLRGXkmNrqUBfTjmMYwNKPWBTIKyw9mHNJ" crossorigin="anonymous">
  <link rel="stylesheet" href="./fighter.css">
  <link href="https://unpkg.com/nes.css@2.3.0/css/nes.min.css" rel="stylesheet" />

</head>
<body class="nes-container is-dark">
  <div class="main">

    <h1> Welcome To Street Fighter </h1>
    <p class="nes-text padding-top"> Select Your Character </p>

    <form class="nes-select is-dark">
      <select hx-get="/fighters"
      name="fighter"
      hx-target="#fighter-avatar"
      hx-swap="outerHTML">
      <option selected> -- select a fighter -- </option>
      <option value="ryu">Ryu</option>
      <option value="sagat">Sagat</option>
      <option value="chunli"> Chun-Li </option>
    </select>
  </form>


  <p class="nes-text padding-top"> Select Your Special Move </p>

  <form class="nes-select is-dark" id="techniques">
    <select>
      <option selected> -- select a fighter -- </option>
    </select>
  </form>

  <div class="nes-container is-dark grid-3-columns margin-top">
    <img class="fighter" id="fighter-avatar" src="./no_fighter.png" alt="no-fighter">
    <div id="fighter-data">

    </div>
    <div id="fighter-special">

    </div>
    <div>

    </div>
  </div>
</div>




</body>
</html>
