
<div id="fighter-special" hx-swap-oob="true">

</div>

<form id="techniques" hx-swap-oob="true">
  <select hx-target="#fighter-special"
          hx-get="/techniques"
          name="technique">
    <option selected> -- select -- </option>
    <% @selected[:moveset].each do |move| %>
    <option value=<%= "#{move[:code]}" %>> <%= move[:name] %> </option>
  <% end %>
  </select>
</form>



<img class="fighter" id="fighter-avatar" src=<%= "#{@selected[:name]}.jpg" %> alt= <%= "#{@selected[:name]}" %>>

