
<form id="techniques" hx-swap-oob="true">
  <select hx-get="/techniques">
    <option selected> -- select -- </option>
    <option> hadouken </option>
    <option> shoryuken </option>
  </select>
</form>



<img class="fighter" src=<%= "#{@fighter}.jpg" %> alt= <%= "#{@fighter}" %>>

