
<html>
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <script src="https://unpkg.com/htmx.org@0.0.4"></script>
  <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.3/build/pure-min.css" integrity="sha384-cg6SkqEOCV1NbJoCu11+bm0NvBRc8IYLRGXkmNrqUBfTjmMYwNKPWBTIKyw9mHNJ" crossorigin="anonymous">

  <link rel="stylesheet" href="./style.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>
  <div class="main">
    <%= yield %>
    <form class="pure-form">
      <input id="task-form" name="task" type="text"
      placeholder="new task"/>

      <button hx-post="/tasks"
              hx-include="input[name='task']"
              hx-target=".to-do-list"
              hx-swap="innerHTML"
              class="pure-button pure-button-primary">
              Add Task
      </button>
    </form>
  </div>

</body>
</html>

