
<html>
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <script src="https://unpkg.com/htmx.org@0.0.4"></script>
  <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.3/build/pure-min.css" integrity="sha384-cg6SkqEOCV1NbJoCu11+bm0NvBRc8IYLRGXkmNrqUBfTjmMYwNKPWBTIKyw9mHNJ" crossorigin="anonymous">

  <link rel="stylesheet" href="./style.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>

  <ul class="to-do-list">
    <h1> My Pure To Do List </h1>
    <% @tasks.all.each_with_index do |task, index| %>

    <li> <%= task.description %>
    <button hx-include="[name='_method']"
            hx-target=".to-do-list"
            hx-post=<%="/tasks/#{index}" %> >

            <input name="_method" type="hidden" value="delete"/>
            Delete
    </button></li>
    <% end %>
  </ul>


  <div class="task-creator">
    <input id="form" name="task" type="text" placeholder="new task" />
    <button hx-post="/tasks"
    hx-include="input[name='task']"
    hx-target=".to-do-list"
    hx-swap="innerHtml">
    Add Task
  </button>
</div>





</body>
</html>

