
<input id="task-form" hx-swap-oob="true" name="task" type="text" placeholder="new task">

<h1> My Pure To Do List </h1>
<% @tasks.all.each_with_index do |task, index| %>

  <li> <%= task.description %>

<% end %>



