
<html>
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.3/build/pure-min.css" integrity="sha384-cg6SkqEOCV1NbJoCu11+bm0NvBRc8IYLRGXkmNrqUBfTjmMYwNKPWBTIKyw9mHNJ" crossorigin="anonymous">

  <script src="https://unpkg.com/htmx.org@0.0.4"></script>

</head>
<body>
  <h1> My Pure To Do List </h1>

  <ul class="to-do-list">
    <% TASKS.each do |task| %>

    <li> <%= task %> </li>
    <% end %>

  </ul>

<div>
    <input name="task" type="text" placeholder="new task" />
    <button hx-post="/tasks"
            hx-include="input[name='task']"
            hx-target=".to-do-list"
            hx-swap="innerHtml">
      Add Task
    </button>

</div>



</body>
</html>

