<input id="task-form" class="nes-input form-error" hx-swap-oob="true" name="task" type="text" placeholder="new task">



<% @tasks.all.each do |task| %>
  <li> <%= task.description %> </li>
<% end %>


