<h1> My Pure To Do List </h1>
<p class="alert"> Please enter a task </p>
<% task_repository.each do |task| %>
  <li> <%= task %> </li>
<% end %>

<input id="form" class="form-error" hx-swap-oob="true" name="task" type="text" placeholder="new task">
