<h1> My Pure To Do List </h1>
<p class="alert"> Please enter a task </p>
<% @tasks.all.each do |task| %>
  <li> <%= task.description %> </li>
<% end %>

<input id="task-form" class="form-error" hx-swap-oob="true" name="task" type="text" placeholder="new task">
