
.main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 36px;
  margin: 200px;
}

.to-do-list {
}

.task-creator {
  padding-top: 40px;
  color: red;
}


.alert {
  color: red;
}

.form-error {
  outline: red;
}
