
.main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 36px;
  margin: 200px;
}

.list-title {
  display: flex;
  align-items: center;
  justify-content: middle;
}

.ryu {
  height: 50px;
  display: inline;
}
.to-do-list {
}

.task-creator {
  padding-top: 40px;
  color: red;
}


.alert {
  color: red;
}

.form-error {
  outline: red;
}


