<div class="fighter-special">
  <div style="display: block; margin-bottom: 30px" href="#" class="nes-badge">
    <span class="is-primary"><%= @special %></span>
  </div>


  <a href="" class="nes-btn"> <img style="height:25px; width:25px; " src="./arrow-down.svg" alt=""> </a>
  <a href="" class="nes-btn"> <img style="height:25px; width:25px; " src="./arrow-down-right.svg" alt=""> </a>
  <a href="" class="nes-btn"> <img style="height:25px; width:25px; " src="./arrow-right.svg" alt=""> </a>
  +
  <a class="nes-btn" href="#">Punch</a>
</div>

