<div class="fighter-special">
<div style="display: block; margin-bottom: 30px" href="#" class="nes-badge">
  <span class="is-primary">Kikoken</span>
</div>

<a href="" class="nes-btn"> <img style="height:25px; width:25px; " src="./arrow-left.svg" alt=""> </a>
<span> (hold) </span>
<a href="#" class="nes-btn">  <img style="height:25px; width:25px; " src="./arrow-right.svg" alt="">   </a>
<span> + </span>
<a class="nes-btn" href="#">Punch</a>
</div>
