<div class="fighter-special">
<div style="display: block; margin-bottom: 30px" href="#" class="nes-badge">
  <span class="is-primary">Renkiko</span>
</div>

<span>Press</span>
<a class="nes-btn" href="#">Kick</a>
<span>repeatedly</span>
