<div class="fighter-special">
<div style="display: block; margin-bottom: 10px" href="#" class="nes-badge">
  <span class="is-primary">Tiger Knee</span>
</div>

<img style="height:50px; width:50px; " src="./arrow-right.svg" alt="">
<img style="height:50px; width:50px; " src="./arrow-down.svg" alt="">
<img style="height:50px; width:50px; " src="./arrow-down-right.svg" alt="">
+
<a class="nes-btn" href="#">Kick</a>
</div>
